*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
    background-image: url(https://files.tecnoblog.net/wp-content/uploads/2021/04/Qual-a-ordem-cronologica-dos-filmes-do-Batman-Deny-Freeman-Flickr.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    padding: 30px;
    margin: 30px 0;
    background-color: rgb(19, 19, 95);
    color: rgb(211, 172, 42);
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 300px;
    border: solid 5px white;
    border-radius: 25px;
}

h3{
    color: #ffffff;
}

p{
    color: rgb(211, 172, 42);
}

.titulo_ntc{
    color: #ffffff;
    text-align: center;
    margin: 50px;
    padding: 100px 50px 0;
    font-size: 30px;
}

.noticias{
    width: 1000px;
    background-color: rgb(145, 145, 145);
    margin: 0 auto;
    border-radius: 20px;
}

.noticia{
    width: 900px;
    display: inline-block;
    text-align: center;
    margin: 50px 30px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 30px;
}

.noticia > p:first-of-type{
    text-align: justify;
    width: 700px;
    color: black;
    margin: 0 auto;
}

footer{
    background-color: #000;
    padding: 30px;
    margin-top: 100px;
}

footer p{
    text-align: center;
    color: aqua;
}

