*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
    background-color: #181818;
    height: 100%;
}

h1{
    text-align: center;
    padding: 30px 0;
    margin: 0 0 50px 0;
    background-color: rgb(19, 19, 95);
    color: rgb(211, 172, 42);
}

img{
    height: 300px;
    border: solid 5px white;
    border-radius: 25px;
}

h3{
    color: #ffffff;
}

p{
    color: rgb(211, 172, 42);
}

footer p{
    color: aqua;
}

