*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body{
    background-image: url(https://files.tecnoblog.net/wp-content/uploads/2021/04/Qual-a-ordem-cronologica-dos-filmes-do-Batman-Deny-Freeman-Flickr.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    padding: 30px;
    margin: 30px 0;
    background-color: rgb(19, 19, 95);
    color: rgb(211, 172, 42);
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 300px;
    border: solid 5px white;
    border-radius: 25px;
}

h3{
    color: #ffffff;
}

p{
    color: rgb(211, 172, 42);
}

footer p{
    color: aqua;
}

